/* We decided to use Bootstrap in conjunction with our own 
stylesheet so we could customize our site to our liking */

/* NAVBAR ================================================ */

.navbar {
    background-color:#49B8F8
}

.navbar-brand {
    color:#15598E;
    font-size: 25px;
    padding-left: 20px;
    text-shadow:
        0.07em 0 white,
        0 0.07em white,
        -0.07em 0 white,
        0 -0.07em white;
}
.navbar-brand-image {
    margin-left:10px;
    height:5%;
    width:5%;
} 

/* BODY ==================================================== */

.body { 
    background: #AADBF7;
}
.body-center {
    margin-right: 20vw;
    margin-left: 20vw;
}

/* LANDING PAGE ============================================ */

.home-heading {
    color: #15598E;
    padding-left: 20px;
}
.description {
    opacity:0.7;
    color:white;
    padding:30px;
    font-size: 20px;
}

.home-button {
    margin-right: 30px;
    background-color: white;
    font-size: 40px;
    font-family: 'Courier New', monospace;
    color: #15598E;
}

.login-button {
    margin-right: 30px;
    background-color: white;
}

.map { 
    height: 360px;
    width: 360px;
}


